.dns_manager_container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.dns_manager_sidebar {
  flex: 0 0 18vw;
  background-color: #f8f9fa;
  border-right: 1px solid #e9ecef;
  overflow-y: auto;
}

.dns_manager_content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .dns_manager_container {
    flex-direction: column;
  }
  .dns_manager_sidebar {
    /* display: none; */
    /* flex: 0 0 100%; */
    flex: 0 0 10vh;
    border-right: none;
    border-bottom: 1px solid #e9ecef;
  }
  .dns_manager_content {
    flex: 1;
    padding: 10px;
  }
}
